
@*
_TestimonialViewComponentPartial
*@

<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <div class="row ftco-animate">
                    <div class="col-md-12">
                        <div class="carousel-testimony owl-carousel ftco-owl">
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url(/deluxe-master/images/Ayşe.jpg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">Bu site sayesinde tatil planlamam çok kolaylaştı! Fiyat ve konum filtreleriyle tam istediğim oteli buldum. Kesinlikle tekrar kullanacağım!</p>
                                        <p class="name">Ayşe Yılmaz</p>
                                        <span class="position">Guests</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url(https://images.pexels.com/photos/4169773/pexels-photo-4169773.jpeg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">Transfer hizmeti sunan otelleri hızlıca buldum, her şey sorunsuz gitti. Kullanıcı dostu arayüzüyle harika bir deneyim yaşadım.</p>
                                        <p class="name">Mehmet Kaya</p>
                                        <span class="position">Guests</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url(/deluxe-master/images/Elif.jpeg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">Spa suitleri olan oteller için filtreleme yapabildiğim için çok memnun kaldım. Aile tatilimiz çok rahat geçti, teşekkürler!</p>
                                        <p class="name">Elif Demir</p>
                                        <span class="position">Guests</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url(https://images.pexels.com/photos/29088334/pexels-photo-29088334.jpeg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">24/7 resepsiyon hizmeti olan oteller arasında seçim yapmak çok pratikti. Site hem hızlı hem de güvenilir, herkese öneririm!</p>
                                        <p class="name">Ali Çelik</p>
                                        <span class="position">Guests</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-wrap py-4 pb-5">
                                    <div class="user-img mb-4" style="background-image: url(/deluxe-master/images/Zeynep.jpeg)">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                    </div>
                                    <div class="text text-center">
                                        <p class="mb-4">Restoran ve bar seçenekleriyle harika oteller buldum. Rezervasyon süreci de çok basitti, tekrar tercih edeceğim bir platform!</p>
                                        <p class="name">Zeynep Arslan</p>
                                        <span class="position">Guests</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
