
@*
   _WelcomeViewComponentPartial
*@


<section class="ftco-section ftc-no-pb ftc-no-pt"> 
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/deluxe-master/images/bg_2.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
                    <div class="ml-md-0">
                        <span class="subheading"></span>
                        <h2 class="mb-4">Find Your Perfect Stay</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>      
                        Discover the best hotels tailored to your needs! With our easy-to-use filters, you can search by location, price, star rating, and amenities like pools, Wi-Fi, or beach access. Whether you're planning a relaxing beach getaway or a city adventure, we make finding and booking your ideal hotel effortless. Start exploring now and enjoy a seamless travel experience!
                    </p>
                    <p>
                        Filter by price, location, and more
                        <br />
                        Book with ease in just a few clicks
                        <br />
                        Explore top-rated hotels worldwide
                    </p>
                    <ul class="ftco-social d-flex">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
