
@*
_HeadViewComponentPartial
*@

<head>
    <title>Booklee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="~/deluxe-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/deluxe-master/css/animate.css">

    <link rel="stylesheet" href="~/deluxe-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/deluxe-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/deluxe-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/deluxe-master/css/aos.css">

    <link rel="stylesheet" href="~/deluxe-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/deluxe-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/deluxe-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/deluxe-master/css/flaticon.css">
    <link rel="stylesheet" href="~/deluxe-master/css/icomoon.css">
    <link rel="stylesheet" href="~/deluxe-master/css/style.css">
</head>
